*{
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}
a,a:hover{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6,a,span,p,input{
	font-family: 'Source Sans Pro', sans-serif;
}
.header{
	padding: 32px 0;
}

.container{
	width: 1140px ;
	margin: auto;
}
.navbar{
	display: flex;
	justify-content: space-between;
}
.h-left, .h-right{
	display: flex;
	align-items: center;
}

.h-left ul{
	display: inline-block;
	padding: 0;
	margin: 0;
}

.h-left ul li{
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0 12px;
}
.h-left ul li a{
	color: darkblue;
	font-weight: 600;
}
.h-right button{
	background: #CD113B;
    color: white;
    padding: 16px 32px;
    border: none;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 5px;
}

.h-right button:hover{
	background: darkblue;
}
.banner{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
}
.banner-text{
	display: flex;
}
.b-left, .b-right{
	flex-basis: 50%;
}
.b-left h1{
	color: #293B5F;
	font-size: 52px;
	font-weight: 700;
}
.b-left p{
	color: #87A7B3;
	font-size: 20px;
	margin-right: 22px;
	line-height: 32px;
}

.portfolio{
	padding: 30px 0px;
}


.gallary{

}
.gallary h3, .features-item h3{
	color: #293B5F;
	font-size: 32px;
	text-align: center;
	margin: 0;
	padding: 0;

}
.gallary p, .features-item p{
	margin-top: 18px;
	text-align: center;
	font-size: 17px;
	line-height: 28px;
	font-style: italic;
}
.gallary-item{
	display: flex;
	margin-top: 20px;
	justify-content: space-evenly;
}
.gallary-item img{
	max-width: 100%;
	box-shadow: 10px 10px 20px 10px rgb(0, 0, 0 / 25%);

}
.line{
	width: 3px;
	height: 70px;
	background-color:#293B5F;
	margin: 40px auto;
}
.items{
/*	margin-top: 64px;*/
	display: flex;
}
.item{
	text-align: center;
	background: #f5f5f5;
	margin: 22px;
	padding: 22px;
	border-radius: 8px;

}
.item p{
	font-style: normal !important;
}
.features-item{
	margin-bottom: 70px;
}

}

.features .item a i{
	height: 60px;
    width: 60px;
    background: white;
    border-radius: 50%;
    color: red;
    line-height: 60px;
    font-size: 20px;
}
.features .item h5{
	font-size:20px ;
	margin: 16px 0px;
}

.footer{
	margin-top: 50px;
	height: 400px;
	padding: 40px 0px;
	text-align: center;
	color: white;
	background-color: #0C4271;
}
 .copyright h2{
   text-align: center;
	font-size: 45px;
	margin-top: 100px;
}
 .copyright button{
 	text-align: center;
 	margin-top: 40px;
 	padding: 12px 12px;
 	border-radius: 6px;
 	background-color:#DA0037;
 	color: white;
 	border: none;
 }
